
.about-section {

  .container {

    .about-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;

      .about-img-wrap {

        display: inline-block;

      }

      .about-img-01 {
        width: 400px;
        height: 400px;

        background: url("/assets/about/about-01/about-01@2x.png") no-repeat;
        background-size: contain;
      }

      .about-img-02 {
        width: 400px;
        height: 400px;

        background: url("/assets/about/about-02/about-02@2x.png") no-repeat;
        background-size: contain;
      }

      .about-img-03 {
        width: 400px;
        height: 400px;

        background: url("/assets/about/about-03/about-03@2x.png") no-repeat;
        background-size: contain;
      }

      .about-item-block {

        .about-item-header-block-header {
          max-width: 387px;

          .about-item-title {
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 16px;

            .item-count {
              display: block;
              opacity: 0.1;
            }

            span {
              font-family: "Rounded Mplus 1c Black";
              font-size: 40px;
              line-height: 60px;

            }
          }
        }

        .item-description {
          max-width: 400px;
          color: #000000;
          font-family: "IBM Plex Sans";
          font-size: 16px;
          line-height: 20px;
        }

        .consultation-link-text {
          height: 56px;
          width: 252px;
          border-radius: 6px;
          background-color: #5386FF;
          display: flex;
          justify-content: center;
          align-items: center;

          color: #FFFFFF;
          font-family: "IBM Plex Sans";
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
          margin-top: 32px;
        }
      }
    }
  }

}

@media (min-width: 68em) {

  .about-section {
    padding: 100px 0 100px;

    .container {

      padding: 0;

      max-width: 924px;
      margin: 0 auto;


    }
  }

}